<% include ../partials/header %>
  <div class="container">
    <div class="row">
      <h2>Play the dice!</h2>
      <hr>
      <div id="roller">
        <button class="add btn btn-info">Add dice!</button>
        <button class="roll btn btn-success">Roll dice!</button>
        <div class="dice"></div>
      </div>
    </div>
  </div>
<% include ../partials/footer %>
